
#chat-container {
    width: 95%;
    margin: auto;
    overflow-y: auto;
}

#chat-container input {
    width: 300px;
    margin-right: 15px;
    margin-left: 20px;
    margin-top: 20px;
}

#chatbox {
    height: 200px;
    overflow-y: auto;
    border-style: solid;
    border-color: #555;
    border-width: 1px;
}

#chatbox p {
    margin-left: 20px
}
