@import url('game.css');

body{
    background-color: #333;
    color: #ddd;
    font-family: "Lucida Console", Monaco, monospace;
}

p h3 {
    color: #eee;
}


/*Layout*/
#content {
    width: 700px;
    padding: 5px 50px;
}

#heading {
    width: 750px;
    padding: 0px 25px;
}

#wrapper {
    width: 800px;
    background-color: #444;
    margin: auto;
    padding: 20px;
}

/*Nav Bar*/
nav a.button, nav .drop-content {
    display: inline-block;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    padding: 10px 20px;
    box-shadow: 0 1px 4px rgba(0,0,0,.6);
    font-size: 9.5pt;
    font-weight: bold;
    color: #fff;
    background: #666;
    text-shadow: 0 1px 3px rgba(0,0,0,.4);
    border-color: #222;
    text-decoration: none;
    margin: 8px;
}

nav a.button:hover, nav .drop-content a:hover {
    background-color: #848484;
}

nav .drop-content {
    display: none;
    position: absolute;
    margin: 0px;
    padding: 10px;
}

nav .drop-content a {
    padding: 10px;
    width: 80%;
    display: inline-block;
    font-size: 9.5pt;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0,0,0,.4);
}

nav .dropdown {
    position: relative;
    display: inline-block;
}

nav .dropdown:hover .drop-content {
    display: block;
}

/*Footer*/

#footer {
    color: #888;
}

#footer #last-modified, #footer #user {
    float: right;
}

#footer table, #footer tr, #footer td {
    border-style: none;
}

#footer table {
    width: 100%;
}

/*Comments*/
.comment-box {
    width: 100%;
}

.comment-content {
    width: 80%;
    margin: auto;
}

.comment-actions {
    float: right;
}

.editControls{
    height: 50px;
}

.submit-comment {
    width: 50%;
    margin: auto;
}

.submit-comment a {
    float: right;
}

.submit-comment input {
    width: 250px;
}

/*Chat Box*/
#chat-container {
    width: 95%;
    margin: auto;
    overflow-y: auto;
}

#chat-container input {
    width: 300px;
    margin-right: 15px;
    margin-left: 20px;
    margin-top: 20px;
}

#chatbox {
    height: 200px;
    overflow-y: auto;
    border-style: solid;
    border-color: #555;
    border-width: 1px;
}

#chatbox p {
    margin-left: 20px
}

/*Forms*/
form button {
    float: right;
}

form th, form td, form tr, form table {
    border-style: none;
}

input[type="text"], textarea, input[type="password"], input[type="number"] {
    background-color: #C8CDD2;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border: none;
}

/*Tables*/
table, tr, td, th{
    border-collapse: collapse;
    border-style: solid;
    border-color: #555;
    border-width: 1px;
}

th {
    text-align: left;
    color: #ccc;
}

td {
    color: #bbb;
}

td, th {
    padding: 5px 10px;
}

hr {
    background-color: #555;
    height: 1px;
    border: 0;
    margin: 20px 5%;
}

/*Buttons*/
.button {
    display: inline-block;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    padding: 5px 6px;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    font-size: 8pt;
    font-weight: bold;
    color: #DDD;
    background: #585860;
    text-shadow: 0 1px 3px rgba(0,0,0,.4);
    border-color: #333;
    text-decoration: none;
    margin: 5px;
}

.button:hover {
    background-color: #737383;
}

/*Links*/
a:link, a:visited {
    color: #bcbcbc;
    text-decoration: none;
}

a:hover, a:active {
    color: #efefef;
}

.editControls {
    display:none;
}
