@import url('game.css');
@import url('navigation.css');
@import url('layout.css');
@import url('footer.css');
@import url('comment.css');
@import url('chat.css');

body{
    background-color: #333;
    color: #ccc;
    font-family: "Lucida Console", Monaco, monospace;
}

h3 {
    color: #eee;
}

/*Links*/
a:link, a:visited {
    color: #ccf;
    text-decoration: none;
}

a:hover, a:active {
    color: #fff;
}


/*Forms*/
form button {
    float: right;
}

form th, form td, form tr, form table {
    border-style: none;
}

input[type="text"], textarea, input[type="password"], input[type="number"] {
    background-color: #C8CDD2;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border: none;
}

/*Tables*/
table, tr, td, th{
    border-collapse: collapse;
    border-style: solid;
    border-color: #555;
    border-width: 1px;
}

th {
    text-align: left;
    color: #ccc;
}

td {
    color: #bbb;
}

td, th {
    padding: 5px 10px;
}

hr {
    background-color: #555;
    height: 1px;
    border: 0;
    margin: 20px 5%;
}

/*Buttons*/
.button {
    display: inline-block;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    padding: 5px 6px;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    font-size: 8pt;
    font-weight: bold;
    color: #DDD;
    background: #585860;
    text-shadow: 0 1px 3px rgba(0,0,0,.4);
    border-color: #333;
    text-decoration: none;
    margin: 5px;
}

.button:hover {
    background-color: #737383;
}
