doctype html
html(lang="en")
  head
    script(src='/js/vendor/jquery/jquery.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    link(rel='stylesheet', href='/css/main.css')
    block extrahead

    title= title

  body
    block nav

    block content
      p There is no content here
