extends base

block content
  h4 Authors of the site
  table
    tr
      th(width="20%") Student ID
      th(width="23%") Student Name
      th(width="57%") Bio
    tr
      td 21515553
      td Tim Metcalf
      td(align="justify") I enjoy extending my knowledge into different areas of software design. Action box is a prime example of this as I've hardly delved into javascript much in the past, let alone develop a full stack application with it.
    tr
      td 21440859
      td Don Wimodya Athukorala
      td(align="justify") I love the logic of coding and I always manage to write efficent code. I also enjoy taking a complex development project and tackle the project with my partner Tim. If you don't find me coding then I would be taking a nap.
  br
  h4 References used
  table
    tr
      th Type of Reference
      th Location of Reference
    tr
      td Images of Al
      td
        a(href="http://www.i2clipart.com/search/al/3") i2clipart
    tr
      td Images of Tim
      td
        a(href="http://tinyurl.com/jdtcq5r") Dreamstime
    tr
      td Images of Wimo
      td
        a(href="http://tinyurl.com/hzt332r") Dreamstime
    tr
      td Image of Fire
      td
        a(href="http://tinyurl.com/a42r323") zorq1's Bucket

