extends base

block content
  h4 Libraries
  table
    tr
      th Library
      th Description
    tr
      td
        a(href='https://angularjs.org/') angular
      td Used for single page dynamic content such as chat.
    tr
      td
        a(href='https://github.com/urish/angular-moment') angular-moment
      td Integrates user-friendly formatted strings from moment with angular.
    tr
      td
        a(href='https://github.com/ncb000gt/node.bcrypt.js') bcrypt
      td Passwords are hashed using the brcrypt hashing function before they are stored.
    tr
      td
        a(href='https://github.com/expressjs/body-parser') body-parser
      td Express middleware used for parsing JSON.
    tr
      td
        a(href='http://chaijs.com/') chai
      td Used in tests for natural language assertions.
    tr
      td
        a(href='https://github.com/expressjs/cookie-parser') cookie-parser
      td Express middleware used for parsing cookies.
    tr
      td
        a(href='http://expressjs.com/') express
      td Allows for setting up middlewares to respond to requests, create a routing table and dynamically render html.
    tr
      td
        a(href='https://github.com/gotwarlost/istanbul') istanbul
      td Creates a coverage report from a mocha test run.
    tr
      td
        a(href='http://jade-lang.com/') jade
      td Used as the templating engine. A content forward alternative to HTML.
    tr
      td
        a(href='https://jquery.com/') jquery
      td Simplified DOM queries and manipulation.
    tr
      td
        a(href='https://github.com/hokaccha/node-jwt-simple') jwt-simple
      td Used for encoding and decoding the user authorization token.
    tr
      td
        a(href='https://github.com/expressjs/method-override') method-override
      td Express middleware for using HTTP verbs where the client doesn't support them.
    tr
      td
        a(href='https://mochajs.org/') mocha
      td The test framework used for this project. Provides an expressive, accessible base for BDD/TDD.
    tr
      td
        a(href='http://momentjs.com/') moment
      td User-friendly formatted date strings.
    tr
      td
        a(href='https://www.mongodb.com/') mongodb
      td The database used for the website.
    tr
      td
        a(href='http://mongoosejs.com/') mongoose
      td Object schema definition and query front end for MongoDB.
    tr
      td
        a(href='https://github.com/expressjs/morgan') morgan
      td Express middleware for logging.
    tr
      td
        a(href='http://passportjs.org/') passport
      td Middleware used for simplified authentication based on authorization tokens stored in the header.
    tr
      td
        a(href='https://github.com/themikenicholson/passport-jwt') passport-jwt
      td A passport strategy for authenticating with a JSON web token.
    tr
      td
        a(href='https://github.com/request/request') request
      td A simplified HTTP request client used for testing routes.
  h4 Design Choices

  h4 Difficulties
  p async callback hell
