extends base

block content
    h3 Author
    table
      tr
        th Student ID
        th Student Name
      tr
        td 21515553
        td Tim Metcalf
      tr
        td 21440859
        td Don Wimodya Athukorala

    h4 References Used
      p TODO
