doctype html
html(lang="en")

  head
    script(src='/js/vendor/jquery/jquery.js')
    link(rel='stylesheet', href='/css/main.css')
    block extrahead

    title= title

  body
    #wrapper
      #nav
        block nav
          center
            nav
              button#home_page(content='game.html') Play
              button(content='instructions.html') Instructions
              button(content='theme.html') Theme
              button(content='author.html') Author
      #content
        block content
          p There is no content here
      #footer
        block footer
          p
            span#authors By Tim Metcalf and Don Wimodya Athukorala
            span#last-modified Last modified 22nd Apr.
          p#Date
          script.
            var today = new Date();
            document.getElementById('Date').innerHTML = today.toDateString();


