doctype html
html(lang="en")
  head
    script(src='/js/vendor/jquery/jquery.js')
    link(rel='stylesheet', href='/css/main.css')
    block extrahead

    title= title

  body
    #wrapper
      #nav
        block nav
      #content
        block content
          p There is no content here
      #footer
