doctype html
html(lang="en")

  head
    script(src='/jquery/jquery.js')
    script(src='/angular/angular.js')
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/global.js')
    block extrahead

    title= title

  body()
    #wrapper
      #nav
        block nav
          center
            nav
              a.button(href='/play') Play
              a.button(href='/instructions') Instructions
              a.button(href='/author') Author
              a.button(href='/theme') Theme
              a.button(href='/comments') Comments
              a.button(href='/leaderboard') Leaderboards
              if user
                a.button(href='/logout') Logout
              else
                a.button(href='/login') Login
          hr
      #heading
        block heading
          h3 #{title}
      #content
        block content
          p There is no content here
      #footer
        block footer
          hr
          p
            span#authors By Tim Metcalf and Don Wimodya Athukorala
            span#last-modified Last modified 22nd Apr.
          p#Date
          script.
            var today = new Date();
            document.getElementById('Date').innerHTML = today.toDateString();
          if user
            p Logged in as: #{user.name}
