extends base

block extrahead
  script(src='/js/core.js')

block content
  h1 Comments
  br
  p There are total of {{all_comments.length}} comments
  br
  div(ng-repeat='a_comment in all_comments')
    p {{a_comment.name}}: {{a_comment.thought}}
    p Created at: {{a_comment.created_at}} & Updated at: {{a_comment.updated_at}}
    button(ng-click='deleteComment(a_comment._id)') Delete
  br
  br
  br
  br
  form
    input(type='text',ng-model='formData.name')
    input(type='text',ng-model='formData.thought')
    button(ng-click='createComment()', type='submit') Post 
