extends base

block extrahead
    script(src='/moment/moment.js')
    script(src='/angular-moment/angular-moment.js')
    script(src='/js/comments_module.js')

block content
    div(ng-app='commentApp', ng-controller='commentController' class='comment-section')
      div(ng-repeat='one_comment in all_comments' class='comment-box')
        div.comment-content
          p {{one_comment.name}}: {{one_comment.thought}}
          time(am-time-ago="one_comment.last_edited")
          div(ng-hide="one_comment.isuser === false" class='comment-actions')
            a.editLink(heref="#").button Edit
            a(ng-click='deleteComment(one_comment._id)').button Delete
            .editControls
              form
                input(type='text',ng-model="editForm[one_comment.textboxname]")
                a(ng-click='editComment(one_comment._id)',type='submit').button Save
        hr
      form.submit-comment
        input(type='text',ng-model='createForm.thought')
        a(ng-click='createComment()', type='submit').button Post
