extends layout

block content
    h3= title
    #game_resources(hidden='hidden')
        img#player_standing(src='images/game/player/standing.png')
        img#player_jumping(src='images/game/player/jumping.png')
        img#player_running_left(src='/images/game/player/running_left.png')
        img#player_running_right(src='/images/game/player/running_right.png')
    canvas#game_canvas(width='700px', height='500px')
    script(src='/js/game.js')
