extends base

block extrahead
    link(rel='stylesheet', href='/css/game.css')
    script(src='/js/game.js')

block content
    h3= title
    #game_resources(hidden='hidden')
      for image in images
        img(id= image)(src='/images/game/#{image}.png')
    canvas#game_canvas(width='700px', height='500px')
    p
      span Min sep = 
      span#min_sep
      br
      span Max sep = 
      span#max_sep
      br
      span ep_time = 
      span#ep_time
      br

