extends base

block content
    h3 Instructions
      ul
          li Press &apos;space&apos; to start and restart the game.
          li The white platforms are your key to survival!
          li Use the arrow keys (left, right, up) and space to bounce the black box (The Action Box) safely between platforms.
          li Try to get the highest score you can without touching the ground.
          li
            b Powerups
          ul
            li Powerups are coloured boxes that fall from the sky that provide special abilities.
            li Activate a powerup by moving the action box over it.
            li A powerup will activate for a random amount of time and they will vary in power.
            li More valuable powerups are smaller and therefore more difficult to attain.
            li Blue powerups will lower gravity, making it easier to glide between platforms.
            li Red powerups will add a points multiplier
