extends base

block content

 h4 Game Goals
 ul
   li The goal of this game is to score the highest number of points so you can show off to your friends.
   br
   li Stay on the white platforms and you will be fine.
 br
 h4 Powerups
 ul
  li These are boxes that appear on a platform randomly.
  br
  li These provide you with special abilities but only last for a random short time.
  br
  li Each powerup contains a random factor each time which determines the power of the powerup.
  br
  li The factor of the powerup is displayed on the powerup so choose wisely if multiple powerups appear.
  br
  li
    | Once a powerup is collected it is stored in you and you can activate the powerup by pressing
    b
      i  A
    | .
  br
  li Collecting powerups while you have one stored in you, the new powerup overrides the old one.
  br
  li The following are a list of powerups that are avaliable:
  br
  ul
   li
     b
      i Mystery Box
     | - contains a mystery powerup
   br
   li
     b
      i Low Gravity
     | - grants you lower gravity
    br
   li
     b
      i Points Multiplier
     | - multipies the current score mulitplier by the factor
  br
 h4 Dangers you will face
 ul
  li A continous flame at the bottom
  br
  li Spikes on the left
 br
 h4 Movement
 ul
  li
   | To jump -
   b
    i  Up arrow
  br
  li
    | To move right -
    b
     i  Right arrow
  br
  li
    | To moves left -
    b
     i  Left arrow
 br
 h4 Game features
 ul
  li The game has 3 characters you can select any character at the start of every game. All the characters are the same. No one is better than the other.
  br
  li
    | If you need a break while playing the game simply press
    b
     i  B
    |  to pause the game. The game is auto pauses itself if you change into another tab or another window.
 br
 h4 As the game progresses
 ul
  li The screen scroll speed increases
  br
  li The seperation between platforms increases
  br
  li Background colour changes
  br
  li Powerups are less often spawned
