doctype html
html(lang="en")
  head
    title= title // NOTE: Need a default page title here
    link(rel='stylesheet', href='/style/main.css')
  body
    block content
      p There is no content here
