doctype html
html
  head
    link(rel='stylesheet', href='/style/main.css')
    block title
        title= title // NOTE: Need a default page title here
  body
    block content
        p= There is no content here
