extends base

block extrahead
  script(src='/js/login.js')

block content
  if perm_denied
    p Please login or register to access this page.
  form#login-form
    table
      tr
        td
          label(for='login-name') Username:
        td
          input#login-name(type='text', name='name')
      tr
        td
          label(for='login-password') Password:
        td
          input#login-password(type='password', name='password')
      tr
        td(colspan=2)
          a.button(href='/register') Register here
          button.button(type='submit') Login

  div#failure(hidden='hidden')
    p User login failed:
      span#failure-message
    p Please try again.
