extends base

block content
  h3 Theme
  p
    The theme of Action Box is inspired by classic platformer games.
    br
    The design is intentionally minimalistic to allow the gameplay feel to be brought forward.
  p Skill and speed is promoted as the required traits for a player which finds appeal in classic gamers.

