doctype html
html(lang="en")

  head
    script(src='/jquery/jquery.js')
    script(src='/angular/angular.js')
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/global.js')
    script(src='/js/dynamic_modified_date.js')
    block extrahead

    title= title

  body()
    #wrapper
      #nav
        block nav
          center
            nav
              a.button(href='/play') Play
              a.button(href='/instructions') Instructions
              a.button(href='/comments') Comments
              .dropdown
                a.button.drop-btn(href='#') Meta
                .drop-content
                  a(href='/leaderboard') Leaderboard
                  a(href='/theme') Theme
                  a(href='/testing') Testing
                  a(href='/architecture') Architecture
                  a(href='/about-us') About Us
              if user
                a.button(href='/profile') My Profile
                a.button(href='/logout') Logout
              else
                a.button(href='/login') Login
          hr
      #heading
        block heading
          h3 #{title}
      #content
        block content
          p There is no content here
      #footer
        block footer
          hr
          table
            tr
              td#authors By Tim Metcalf and Don Wimodya Athukorala
              td#last-modified Last modified:
            tr
              td#Date
              if user
                td#user Logged in as: #{user.name}
