extends base

block extrahead
  link(rel='stylesheet', href='/css/game.css')
  script(src='/js/game.js')
  script(src='/js/chat_module.js')
  script(src='/js/chat_box_scroll.js')

block content
  #game_resources(hidden='hidden')
    for image in images
      img(id= image, src='/images/game/#{image}.png')
  canvas#game_canvas(width='700px', height='500px')
  h4 Chat Box
  div(ng-app='gameChat', ng-controller='chatController')#chat-container
    #chatbox
      div(ng-repeat='one_chat in full_chat')
        p {{one_chat.name}}: {{one_chat.thought}}
    form
      input(type='text',ng-model='createForm.thought')
      a(ng-click='createChat()', type='submit').button Post
