extends base

block extrahead
  script(src='/js/register.js')

block content
  if perm_denied
    p Please register or register to access this page.

  form#register-form
    table
      tr
        td
          label(for='register-name') Username:
        td
          input#register-name(type='text', name='name')
      tr
        td
          label(for='register-password') Password:
        td
          input#register-password(type='password', name='password')
      tr
        td
          label(for='register-email') Email:
        td
          input#register-email(type='text', name='email')
      tr
        td(colspan=2)
          button.button(type='submit') Register

  div#success(hidden='hidden')
    p User successfully created.
    p
      a(href='/login') Click here to Login

  div#failure(hidden='hidden')
    p User creation failed:
      span#failure-message
    p Please try again.


