extends base

block content
  p Action Box is a game made as a tribute to classic platform games. This game was inspired from games in the 8-bit and 16-bit era. These are the games that people still love and still play today.
  p Classic games were forced to make up for the deficencies such as lack of graphics, speed and sound capabilities of games today with novel and interesting game-play. This is what make classic games still better.
  p Most classic games requires mental agility, spatial skills and problem solving in order for them to be played. The design of this game is intentionally minimalistic to allow the gameplay feel to be brought forward.
  p Also classic games take us back to a much simpler time where the focus of the game wasn't on graphics or violence, but rather on the patterns and strategies we could use for everyday life. Often the problems faced in life are often repeated, like Galaga and Pac-Man.
